@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital@0;1&family=Crimson+Pro&family=Heebo:wght@600&family=Michroma&display=swap');
html {
  font-size: 62.5%;
  font-family: sans-serif;
  /* background-image: linear-gradient(160deg,#000000,#006876,#FF8C8C,#B80000)
  ; */
  
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* font-family: 'Cormorant', serif;

  font-family: 'Crimson Pro', serif; */

  font-family: 'Heebo', sans-serif;

  /* font-family: 'Michroma', sans-serif; */
}

* {
  margin: 0;
  padding: 0;
  
  

}

#root {
  font-size: 62.5%;
  width: 100vw;
  
  height: 100vh;
  /* background-image: linear-gradient(160deg,#000000,#006876,#FF8C8C,#B80000) */
 
}

/* .main-heading-wraper{
  margin: 12px 0px 71px 100px;
  
} */

