
.progess-text{
    font-size: 2rem;
    color: black;
}
.fund-heading{
    font-size: 3rem;
    color:black;
}
.progress-bar{
    border: 1px solid black;
}
.fund-donate{
    height: 2em;
    
}
.fund{
    height: 30em;
    width: 60em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;

}